     /********************
        Filname: style.css
        Author: Daniel Rodrigo Beltrame
        Date: December 24, 21;

        Index

        0. Reset
        1. General
        2. Header
        3. Cities
        4. Table of Contents
        5. Stats
        6. Footer

     ********************/
     /********************
             0. Reset
     ********************/
     /********************
         http://meyerweb.com/eric/tools/css/reset/ 
        v2.0 | 20110126
        License: none (public domain)
     ********************/

     /********************
        1. General
     ********************/

body {

    font-family: 'Poppins', sans-serif;
    color: #60495F;

}

h1 {
    font-size: 48px;
    line-height: 120%;
    /*margin-top: 1500px; */
    font-weight: 600;
}

h4 {

    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    text-align: left;
    color: #ff00af;
    margin-bottom: 32px;
}

h5 {
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    margin-bottom: 3px;
}

p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #60495F;
}


    /********************
        2. Header
    ********************/



nav {
    background: #ac3ecf; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ac3ecf 0%, #ff00af 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #ac3ecf 0%,#ff00af 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #ac3ecf 0%,#ff00af 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac3ecf', endColorstr='#ff00af',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
   
    -webkit-box-shadow: none;
    box-shadow: none;

}


#header-logo {

}

#hero {
    color: white;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ac3ecf+0,ff00af+100 */
    background: #ac3ecf; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ac3ecf 0%, #ff00af 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #ac3ecf 0%,#ff00af 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #ac3ecf 0%,#ff00af 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac3ecf', endColorstr='#ff00af',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
   
    
}

#background-map{
    background-image: url(images/mapa.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 85% -100px;
}

#value-proposition {
    height: 750px;
}

#value-proposition .col {
    padding: 0px;

}



#btn-header{
    color: #B633BF;
    font-weight: 600;
}

#hero-title h1 {
    margin-bottom: -4px;


}

#hero-subtitle h5 {
    margin-bottom: 24px;
   

}

a.brand-logo {
  
    
}

a.brand-logo {

    font-size: 24px;
    font-weight: 500;

}

#call-to-scroll{
    color: #ff00af;
    font-size: 14.5px;
    font-weight: 600;

}

#call-to-scroll i {
    font-size: 50px;
    
}

#call-to-scroll .cta{
    margin-top: 24px;
    margin-bottom: -12px;
}

/********************
    3. Cities
********************/

.card-action a {
    background: #FE03B0;
    color: #FFF;
    font-weight: 400;
    font-size: 16px;
}

.card-action a:hover {
    background: #9A259F;
}

#cities {

}

#cities-title{
    
}
/********************
    4. Table of Contents 
********************/
#table-of-contents {
    background-color: #FFF6FF;
    padding: 24px 0px;
}

#table-of-contents-title {
    margin-top: 24px;
}

#table-of-contents-title h4 {
    margin-bottom: -8px;
}

#table-of-contents-subtitle p {
    margin-bottom: 32px;
}

#table-of-contents-contents {
    background-color: #FFF;

}

.table-of-contents-contents-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    padding: 16px 16px 0px 16px;
}

.table-of-contents-contents-title-items {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: left;
    padding: 0px 16px;
    margin-left: 32px;
}

.table-of-contents-contents-title-items li {
    padding: 4px 0px;
}


/********************
    5. Stats
********************/
#stats {
    padding: 60px 0px;
    background: url(images/stats.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 100px;
    background-size: 100% auto;
}

.stats-title {
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
    color: #FE03B0;
    text-shadow: 0px 0px 20px #ffffff;
    padding-top: 32px;

}

.stats-subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #60495F;
    padding-bottom: 32px;
}

/********************
    6. Footer
********************/
.page-footer {
    background: #9c27b0;
    padding-top: 20px;
    color: #fff;
   
}