     /********************
        Filname: style.css
        Author: Daniel Rodrigo Beltrame
        Date: December 24, 21;

        Index

        0. Reset
        1. General
        2. Header
        3. Cities
        4. Table of Contents
        5. Stats
        6. Footer

     ********************/
     /********************
             0. Reset
     ********************/
     /********************
         http://meyerweb.com/eric/tools/css/reset/ 
        v2.0 | 20110126
        License: none (public domain)
     ********************/

     /********************
        1. General
     ********************/

body {

    font-family: 'Poppins', sans-serif;

}



    /********************
        2. Header
    ********************/



nav {
    background: #ac3ecf; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ac3ecf 0%, #ff00af 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #ac3ecf 0%,#ff00af 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #ac3ecf 0%,#ff00af 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac3ecf', endColorstr='#ff00af',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
   
    -webkit-box-shadow: none;
    box-shadow: none;

}


#header-logo {

}

#hero {

   color: white;
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ac3ecf+0,ff00af+100 */
    background: #ac3ecf; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ac3ecf 0%, #ff00af 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #ac3ecf 0%,#ff00af 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #ac3ecf 0%,#ff00af 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac3ecf', endColorstr='#ff00af',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  
}

#value-proposition .col {
    padding: 0px;
 

}

#btn-header{
    color: #B633BF;
}

#hero-title {


}

#hero-subtitle {
   

}

a.brand-logo {
  
    
}

a.brand-logo {

    font-size: 24px;
    font-weight: 500;

}

/********************
    3. Cities
********************/
#cities {

}

#cities-title{
    
}
/********************
    4. Table of Contents 
********************/
#table-of-contents {

}

#table-of-contents-title {

}

#table-of-contents-subtitle {

}

#table-of-contents-contents {

}

.table-of-contents-contents-title {

}

.table-of-contents-contents-title-items {

}


/********************
    5. Stats
********************/
#stats {
    
}

.stats-title {

}

.stats-subtitle {

}

/********************
    6. Footer
********************/
footer {

}